{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var model \nystudio107\units\models\UnitsData #}
{# @var field \nystudio107\units\fields\Units #}
{#
/**
 * Units plugin for Craft CMS 3.x
 *
 * Units Field Input
 *
 * @author    nystudio107
 * @copyright Copyright (c) 2018 nystudio107
 * @link      https://nystudio107.com/
 * @package   Units
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("nystudio107\\units\\assetbundles\\units\\UnitsAsset") %}
{% do view.registerAssetBundle("nystudio107\\units\\assetbundles\\unitsfield\\UnitsFieldAsset") %}

{{ forms.textField({
    id: id ~ "value",
    name: name ~ "[value]",
    value: value,
    size: field.size,
}) }}

{% if field.changeableUnits %}
    <div class="field units-field-units-select">
    {{ forms.select({
        id: id ~ "units",
        name: name ~ "[units]",
        options: craft.units.availableUnits(model.unitsClass),
        value: model.units,
    }) }}
    </div>
{% else %}
    <div class="field units-field-units">
        <div class="heading">
            <p class="instructions">{{ field.defaultUnits }}</p>
        </div>
    </div>
{% endif %}
